// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-color:powderblue ;
}

#welcome-button1{
	font-size: 40px;
	width: 40%;
    height: 200px;
    margin: auto;
}

#welcome-button2{
	font-size: 40px;
	width: 40%;
    height: 200px;
    margin: auto;
}



